.form{
    @include flex-jc(center);
    flex-direction: column;
    align-items: center;
    &__item{
        @include flex-jc(center);
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        font-weight: bold
        }
    }

.form-container{
    @include flex-jc(center);
    flex-direction: column;
    align-items: center;
}