
.nav{

    &__list{
        display: flex;
        list-style: none;
    }
    &__item{
        padding: 7px;
        &:hover{
            border: 1px solid $color-light;
        }
    }
    &__link{
        color: $color-light;
        text-decoration: none;
        text-shadow: 1px 2px $color-dark;
        &:link,&:visited{
            color: $color-light;
            font-weight: 600;
            font-size: 20px;
        }
    }
}
