.banner{ 
        display: flex;
        min-height: 100vh;
        &__img{
            width: 45%;
            min-width: 45%;
            max-width: 45%;
            
        }
        &__title{
            font-size: 55px;
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
        }
        &__title-container{
            width: 10%;
            min-width: 10%;
            max-width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;     
            background-color: $color-first;   
        }  
        &__title--vertical{
            width:45px;
            word-wrap: break-word;
            line-height:50px; 
            text-align:center;   
        } 
 /*BANNER MOBILE*/       
        &--mobile{
            background-image: url(../img/bn-2.jpg);
            background-size: cover;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;  
            &__title{
                font-size: 40px;
                text-transform: uppercase;
                font-weight: 900;
                text-align: center;
            }
            &__title-container{
                width: 100%;
                   
                background-color: $color-first;
            } 
        }
}



